body {
  color: #333333;
  background-color: #f2f2f2;

  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
}
img {
  max-width: 100%;
  height: auto;
}
@font-face {
  font-family: "symbols-sedona";
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/symbols-sedona.woff") format("woff"), url("../fonts/symbols-sedona.woff2") format("woff2");
}
[class^="icon-"]::before, [class*=" icon-"]::before {
  display: inline-block;

  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  text-align: center;
  text-decoration: inherit;
  text-transform: none;

  font-family: "symbols-sedona";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1em;

  speak: none;
}
.icon-facebook::before {
  content: "\66";
}

/* "f" */

.icon-twitter::before {
  content: "\74";
}

/* "t" */

.icon-up-dir::before {
  content: "\25b2";
}

/* "▲" */

.icon-down-dir::before {
  content: "\25bc";
}

/* "▼" */

.icon-star::before {
  content: "\2605";
}

/* "★" */

.icon-check-off::before {
  content: "\2610";
}

/* "☐" */

.icon-check-on::before {
  content: "\2611";
}

/* "☑" */

.icon-calendar::before {
  content: "\e800";
}

/* "" */

.icon-plus::before {
  content: "\e801";
}

/* "" */

.icon-minus::before {
  content: "\e802";
}

/* "" */

.icon-youtube::before {
  content: "\f39e";
}

/* "" */

h1, h2 {
  margin: 0;

  color: #000000;

  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  font-weight: bold;
}
h1 {
  line-height: 26px;
}
h2 {
  line-height: 21px;
}
h3 {
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;

  background: #ffffff;
  box-shadow: 0 0 2px 2px #dbdbdb;
}
.page-header {
  position: relative;

  min-height: 56px;

  font-size: 0;
}
.page-header ul {
  margin: 0;
  padding: 0;
}
.page-header li {
  display: inline-block;

  box-sizing: border-box;
  width: 240px;
  padding: 15px 0;

  text-align: center;
  vertical-align: top;

  font-size: 14px;
  font-weight: bold;
}
.page-header li:nth-child(1) {
  box-sizing: border-box;
  padding-left: 72px;

  text-align: left;
}
.page-header li:nth-child(2) {
  margin-right: 240px;
  padding-right: 0;
}
.page-header li:nth-child(4) {
  padding-right: 72px;

  text-align: right;
}
.page-header a {
  text-decoration: none;

  color: #000000;
}
.page-header a:hover {
  color: #81b3d2;
}
.page-header a:active {
  color: #bcbcbc;
}
.page-header a.active {
  color: #dad5d2;
}
.page-header a.active:hover {
  color: #b5aca7;
}
.page-header a.active:active {
  color: #d6d0cc;
}
.header-logo {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
}
.panorama {
  min-height: 508px;

  text-align: center;

  background: #324c4e url("../img/sedona-background-photo.jpg");
  background-position: center -52px;
}
.panorama-textover {
  margin: 80px 80px auto;
}
.panorama-line {
  margin-bottom: -50px;
}
.intro {
  padding-top: 60px;
  padding-bottom: 30px;
}
.intro h1 {
  padding-bottom: 10px;
}
.reasons, .intro {
  text-align: center;
}
.reasons h1 {}
.reasons p {
  padding-top: 7px;
}
.reasons-blue {
  padding: 0;

  font-size: 0;
}
.reasons-blue .reasons-item {
  display: inline-block;

  box-sizing: border-box;
  width: 400px;
  padding: 45px 0;

  vertical-align: top;

  color: #ffffff;
  background: #81b3d2;

  font-size: 14px;
}
.reasons-item h2 {
  padding-top: 10px;
  padding-bottom: 20px;

  color: #ffffff;
}
.reasons-item span, .reasons-item p {
  position: relative;

  margin: 10px auto 0;
}
.reasons-blue .reasons-image {
  display: inline-block;

  vertical-align: top;

  line-height: 0;
}
.recomendations {
  padding-top: 60px;
  padding-bottom: 75px;

  text-align: center;

  font-size: 0;
}
.recomendations-item {
  position: relative;

  display: inline-block;

  width: 400px;

  vertical-align: top;

  font-size: 14px;
}
.recomendations-item h2 {
  margin: 20px 0 20px;
}
.recomendations-item p {
  margin: auto;
}
.reasons-grey {
  padding-top: 40px;
  padding-bottom: 60px;

  background: #f2f2f2;

  font-size: 0;
}
.reasons-grey h2 {
  color: #000000;
}
.reasons-grey .reasons-item {
  position: relative;

  display: inline-block;

  width: 400px;

  vertical-align: top;

  font-size: 14px;
}
.reasons-grey p, .reasons-grey span {
  color: #333333;

  line-height: 21px;
}
.find-hotel {
  padding: 55px 0 0;

  text-align: center;
}
.find-hotel h3 {
  font-size: 30px;
}
.find-hotel p {
  margin: 30px 0;
  padding-bottom: 15px;

  color: #333333;

  line-height: 24px;
}
.find-hotel a {
  position: relative;

  display: inline-block;

  width: 568px;
  min-height: 86px;

  vertical-align: top;
  text-decoration: none;

  color: #ffffff;
  background: #766357;

  font-size: 21px;
  font-weight: bold;
  line-height: 86px;
}
.map {
  width: 1200px;
  min-height: 593px;

  text-align: center;

  background: #f2f1ef url("../img/sedona-map.png");

  font-size: 0;
}
.map form {
  box-sizing: border-box;
  width: 568px;
  min-height: 395px;
  margin: 0 auto;
  padding: 55px;

  background: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}
.map input {
  border: none;
  background-color: #f2f2f2;
}
.date,
.date-input,
.adults,
.children,
.adults-title,
.children-title,
.adults-inputs,
.children-inputs {
  display: inline-block;
}

.adults input[type="text"],
.children input[type="text"] {
  width: 25px;
}
.from,
.till {
  padding-bottom: 30px;
}
.from,
.till,
.guests{
  text-align: left;
}
input[name="check-in-date"],
input[name="check-out-date"] {
  width: 316px;
  padding: 6px 13px;
}
.from .date {
  margin-right: 20px;
}
.till .date {
  margin-right: 18px;
}
.adults-title {
  margin-right: 40px;
}
.adults, .children {
  font-size: 0;
}
.adults-title,
.adults-inputs input,
.children-title,
.children-inputs input {
  font-size: 14px
}
.adults-inputs input,
.children-inputs input {
  padding: 6px 9px;

  text-align: center;
}
.adults {
  margin-right: 48px;
}
.children-title {
  margin-right: 23px;
}
.date-input {
  position: relative;
}
.icon-calendar {
  position: absolute;
  top: 8px;
  right: 5px;

  cursor: pointer;

  color: #c2c2c2;

  font-size: 21px;
  font-weight: normal;
}
.icon-calendar:hover {
  color: #000000;
}
.icon-calendar:active {
  color: #81b3d2;
}

.btn-plus,
.btn-minus {
   padding: 6px 8px;

   color: #a9a9a9;
   border: none;
   background-color: #f2f2f2;

   font-size: 14px;
 }
 .btn-plus:hover,
 .btn-minus:hover {
   color: #000000;
 }
 .btn-plus:active,
 .btn-minus:active {
   color: #81b3d2;
 }

.find {
  padding-top: 55px;

  font-weight: bold;
}
.find input {
  display: inline-block;

  width: 458px;
  padding-top: 16px;
  padding-bottom: 16px;

  color: #ffffff;
  border: none;
  background-color: #81b3d2;

  font-size: 21px;
  line-height: 26px;
}
.map input[type="text"]:hover {
  background: #ebebeb;
}
.map input[type="text"]:focus {
  outline: 2px solid #e5e5e5;
  background: #ffffff;
}
.children input[type="button"], .adults input[type="button"] {
  color: #a9a9a9;
}
.children input[type="button"]:hover, .adults input[type="button"]:hover {
  color: #000000;
}
.children input[type="button"]:active, .adults input[type="button"]:active {
  color: #81b3d2;
  outline: none;
}
.find input:hover {
  background: #669ec0;
}
.find input:active {
  color: #88b6d1;
  outline: none;
  background: #5496bd;
}
footer {
  padding: 40px 0;

  background: #ffffff;

  font-size: 0;
}
.footer-main {
  margin-top: -120px;

  background: rgba(255, 255, 255, 0.9);
}
.hashtag, .social, .copyright {
  display: inline-block;

  width: 400px;

  text-align: center;
  vertical-align: middle;

  font-size: 14px;
}
.hashtag a {
  text-decoration: none;

  color: #000000;

  font-size: 21px;
  font-weight: bold;
}
.icon-twitter, .icon-facebook, .icon-youtube {
  margin-right: 2px;
  padding: 12px 10px;

  color: #ffffff;
  background-color: #81b3d2;

  font-size: 19px;
  line-height: 20px;
}
.social span:hover {
  background: #669ec0;
}
.social span:active {
  color: #88b6d1;
  background: #5496bd;
}
.copyright a {
  text-align: top;
  text-decoration: none;

  color: #000000;
}
.copyright a,
.copyright a::after {
  display: inline-block;

  vertical-align: middle;
}
.copyright a::after {
  width: 113px;
  height: 39px;
  margin-left: 5px;

  content: "";

  background: #ffffff url("../img/sedona-copyright-sprite.png");
  background-position: -5px -5px;
}
.copyright a:hover::after {
  background-position: -5px -103px;
}
.copyright a:active::after {
  background-position: -5px -54px;
}

.accomodation-options {
  box-sizing: border-box;
  padding: 30px 72px 5px;

  background: #686f77 url("../img/sedona-filter-background.jpg");

  font-size: 0;
}
.accomodation-infrastructure, .accomodation-type, .accomodation-cost {
  display: inline-block;

  vertical-align: top;

  color: #ffffff;

  font-size: 14px;
  line-height: 26px;
}
.accomodation-infrastructure, .accomodation-type {
  width: 250px;
}
.accomodation-infrastructure label, .accomodation-type label {
  display: block;

  padding-bottom: 20px;

  vertical-align: top;
}
.icon-check-on, .icon-check-off {
  font-size: 26px;
}
.accomodation-cost {
  box-sizing: border-box;
  width: 556px;
  padding-left: 230px;
}
.accomodation-cost h2 {
  margin-bottom: 9px;
}
.accomodation-infrastructure h2, .accomodation-type h2 {
  margin-bottom: 24px;
}
.accomodation-cost-range {
  position: relative;

  display: inline-block;

  width: 315px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  vertical-align: top;

  border: 2px solid #ffffff;
  border-radius: 2px;

  font-size: 0;
  line-height: 21px;
}
.range-controls {
  position: relative;

  margin-bottom: 32px;
  margin-left: 10px;
}
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  cursor: pointer;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}
.range-toggle-min {
  left: 0%;
}
.range-toggle-max {
  left: 80%;
}
.range-toggle:hover {
  background: #1c4f80;
}
.accomodation-cost-range::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  content: "";
  transform: translate(-50%, -50%);

  background: #ffffff;
}
.accomodation-cost-range label {
  font-size: 14px;
}
.accomodation-cost-range input {
  width: 50px;
  margin: 0;

  color: #ffffff;
  border: none;
  outline: none;
  background: none;
}
.accomodation-cost-range .min, .accomodation-cost-range .max {
  display: inline-block;

  width: 90px;
  padding-left: 65px;

  vertical-align: top;
}
.accomodation-cost input[type="submit"] {
  display: inline-block;

  width: 137px;
  margin-left: 95px;
  padding: 6px 32px;

  cursor: pointer;
  vertical-align: top;

  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background: transparent;

  font-size: 14px;
  line-height: 21px;
}
.accomodation-cost input[type="submit"]:hover {
  color: #000000;
  background: #ffffff;
}
.accomodation-options h2 {
  padding: 0;

  color: #ffffff;

  font-size: 16px;
  font-weight: bold;
}
.accomodation-options input {
  display: inline-block;
}
.accomodation-options input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;

  padding-left: 41px;

  cursor: pointer;
}
input[type="checkbox"] + label::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 35px;
  height: 35px;

  content: "\2610";

  font-family: "symbols-sedona";
  font-size: 26px;
  line-height: 20px;
}
input[type="checkbox"]:checked + label::before {
  content: "\2611";
}
input[type="checkbox"] + label::before:disabled {
  color: #6a6a6a;
}
.search-results, .accomodation-options, .search-results-items {
  font-size: 0;
}
.search-results, .search-result-item {
  border-bottom: 1px solid #e5e5e5;
}
.search-result-item {
  padding: 30px 72px 22px;
}
.search-results {
  box-sizing: border-box;
  padding: 30px 72px 20px;
}
.search-results-number, .search-results-sort, .search-results-order {
  display: inline-block;

  vertical-align: bottom;
}
.search-results-number, .item-image {
  width: 165px;
}
.search-results-sort, .item-specs {
  width: 781px;
}
.search-results-order, .item-rating {
  width: 110px;
}
.search-results-order {
  margin: 0;

  text-align: right;
}
.search-results-order a {
  color: #cccccc;

  font-size: 23px;
}
.icon-down-dir {
  color: #81b3d2;

  font-size: 23px;
}
.search-results-order span:hover {
  color: #000000;
}
.search-results-order span:active {
  color: #81b3d2;
}
.search-results-number span {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
}
.search-results ul {
  display: inline-block;

  margin: 0;
  padding: 0;
}
.search-results a {
  text-decoration: none;
}
.search-results-sort span {
  padding-right: 35px;

  font-size: 12px;
  line-height: 1;
}
.search-results-sort li {
  display: inline-block;

  padding-right: 35px;

  list-style-type: none;

  font-size: 12px;
  line-height: 1;
}
.sort-price {
  color: #92bdd8;
}
.sort-type, .sort-rating {
  border-bottom: 1px #92bdd8 dotted;
}
.search-results-sort a:hover {
  color: #92bdd8;
}
.search-results-sort a:active {
  color: #000000;
}
.search-results-items {
  margin: 0;

  font-size: 0;
}
.item-specs {
  margin: 0;
  padding: 0;
}
.item-specs h1 {
  padding-bottom: 5px;

  line-height: 1;
}
.item-image, .item-specs, .item-rating {
  display: inline-block;

  vertical-align: top;

  font-size: 14px;
}
.hotel-name {
  text-decoration: none;

  color: #000000;
}
.hotel-name:hover {
  color: #81b3d2;
}
.hotel-name:active {
  color: #d1d1d1;
}
.item-details a:hover {
  background-color: #669ec0;
}
.item-details a:active {
  color: #88b6d1;
  background-color: #5496bd;
}
.item-book a:hover {
  background-color: #604e43;
}
.item-book a:active {
  color: #857871;
  background-color: #503e33;
}
.item-rating .score {
  display: block;

  padding: 6px 6px;

  text-align: center;

  color: #8b8b8b;
  background-color: #f2f2f2;

  font-size: 14px;
  line-height: 1;
}
.item-rating .icon-star {
  color: #81b3d2;

  font-size: 18px;
}
.rating-stars {
  padding-bottom: 37px;

  text-align: right;
}
.item-rating span {
  line-height: 21px;
}
.item-details a:first-of-type, .item-book a:first-of-type {
  color: #ffffff;
}
.item-details {
  width: 110px;
  margin-right: 2px;
}
.item-details, .item-book {
  display: inline-block;

  vertical-align: top;
}
.item-book {
  width: 142px;
}
.item-details a, .item-book a {
  display: block;

  width: 100%;
  padding: 3px 0;

  text-align: center;
  text-decoration: none;

  color: #ffffff;

  font-size: 14px;
  line-height: 21px;
}
.item-details a {
  background: #81b3d2;
}
.item-book a {
  background: #766357;
}
.item-details span, .item-details a, .item-book span, .item-book a {
  margin-top: 10px;
}
